/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: 'Literata', serif;
}

.full-height {
    min-height: 100vh;
}

.title-underline {
    width: 160px;
    height: 10px;
    margin: 0 auto;
    /* background: blue!important; */
}

.height-80 {
    min-height: 80vh;
}

.about-picture {
    background-image: url(../img/about-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (min-width:768px) {
    .about-picture {
        background-size: contain;
    }
}

#practice, #progress {
    /* background-image: ; */
    background: linear-gradient(to bottom,rgba(0, 0, 0, .1), rgba(0, 0, 0, .6)), url(../img/filler.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}